body {
    margin: 0;
    overflow: hidden;
    -webkit-text-stroke: 1px black;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

#root {
    z-index: -9;
    position: absolute;
}

#camera-control {
    width: 120px;
    height: 120px;
    border: 2px solid green;
    border-radius: 10px;
    background-color: aquamarine;
    position: absolute;
    left: 15px;
    top: 15px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#cambutton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: -3px;
    margin-top: -3px;
}

.btn {
    box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    background-color: green;
    border-radius: 10%;
    margin: auto;
}

.btn:hover {
    cursor: pointer;
    background-color: darkgreen;
    transition: all 50ms ease;
}

.smallbtn {
    box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    background-color: green;
    border-radius: 10%;
    margin: auto;
    width: 20px;
    height: 20px;
}

.smallbtn:hover {
    cursor: pointer;
    background-color: darkgreen;
    transition: all 50ms ease;
}

#camera-control-left {
    width: 30px;
    height: 120px;
    display: flex;
    float: left;
    flex-direction: column;
}

#camera-control-center {
    width: 60px;
    height: 120px;
    display: flex;
    float: left;
    flex-direction: column;
}

#camera-control-right {
    width: 30px;
    height: 120px;
    display: flex;
    float: left;
    flex-direction: column;
}

#cam_img {
    width: 40px;
    height: 40px;
    margin: auto;
}

#rot {
    position: absolute;
    left: 15px;
    top: 150px;
    width: 120px;
}

#height {
    position: absolute;
    left: 100px;
    top: 65px;
    width: 120px;
    transform: rotate(-90deg);
}

input[type=range] {
    -webkit-appearance: none;
    border-radius: 10px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    height: 21px;
    background: rgb(191, 255, 234);
    border-radius: 10px;
    border: 2px solid rgb(128, 192, 128);
}

input[type=range]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 23px;
    background: green;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0;
    opacity: 0.6;
}

#menu_button {
    width: 30px;
    height: 30px;
    border: 2px solid green;
    border-radius: 10px;
    background-color: aquamarine;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

#menu {
    width: 600px;
    height: 400px;
    border: 2px solid green;
    border-radius: 15px;
    background-color: rgb(191, 255, 234);
    position: fixed;

    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20%;

    opacity: 0.95;

    display: none;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}

#menu-header {
    position: absolute;
    width: 100%;
    height: 35px;
    top: 0;

    background-color: rgb(170, 265, 214);
    border-radius: 15px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    cursor: pointer;
}

.escape {
    width: 50px;
    height: 25px;

    position: absolute;
    top: 0;
    right: 0;

    margin: 2px;
    margin-right: 5px;

    background-color: rgb(255, 50, 50);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    color: white;

    font-weight: 100;
    text-decoration: none;
}

#hud {
    width: 250px;
    height: 50px;

    position: fixed;
    bottom: 15px;
    left: 15px;

    background-color: rgb(191, 255, 234);

    border: 2px solid green;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#throw {
    width: 120px;
    height: 50px;

    position: fixed;
    bottom: 80px;
    left: 15px;

    background-color: rgb(191, 255, 234);

    border: 2px solid green;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#throw:hover {
    background-color: rgb(181, 235, 214);
    cursor: pointer;
}

#block_info {
    width: 600px;
    height: 200px;
    cursor: auto;

    position: fixed;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 25px;

    background-color: rgb(191, 255, 234);

    border: 2px solid green;
    border-radius: 15px;

    display: none;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
}

#block_name {
    position: absolute;
    width: 100%;
    height: 30px;
    top: 0;

    background-color: rgb(170, 265, 214);
    border-radius: 15px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.info_block {
    width: 550px;
    height: 40px;
    margin-top: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

#avatar {
    width: 120px;
    height: 120px;

    position: fixed;
    bottom: 145px;
    left: 15px;

    background-color: rgb(191, 255, 234);

    border: 2px solid green;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#avatar-image {
    width: 80px;
    height: 80px;
    border: 2px solid green;
    border-radius: 15px;
    padding: 5px;
}

#buymenu {
    width: 400px;
    height: 175px;
    cursor: auto;

    position: fixed;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 25px;

    background-color: rgb(191, 255, 234);

    border: 2px solid green;
    border-radius: 15px;

    display: none;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
}

.headtext {
    float: left;
    font-size: large;
}

.buybutton {
    width: 90px;
    height: 35px;

    background-color: rgb(191, 255, 234);

    border: 2px solid green;
    border-radius: 15px;

    cursor: pointer;
}

.buybutton:hover {
    background-color: rgb(181, 235, 214);
}

#textcontainer {
    width: 350px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: stretch;
}

#buttoncontainer {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: stretch;
}

#menu-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-top: 50px;

}

#eq_header td {
    border: 2px solid black;
    width: 160px;
    text-align: center;
}

#eq_table td {
    border: 2px solid black;
    width: 160px;
}

#eq_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 90%;
    height: 300px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    position: absolute;
    width: 0;
}