<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monopoly ZSŁ</title>
    <link rel="stylesheet" href="../styles/common-styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<div id="popup"><p id="popup-text"></p></div>
{{{body}}}
<script src="../script/common-script.js"></script>
<script src="../script/Net.js"></script>
</body>
</html>