<link rel="stylesheet" href="../styles/style.css">
<link rel="stylesheet" href="../styles/camera-control-styles.css">
<link rel="stylesheet" href="../styles/block-styles.css">
<link rel="stylesheet" href="../styles/menu-styles.css">
<link rel="stylesheet" href="../styles/user-controlls-styles.css">

<div id="root">
    <div id="camera-control" class="hud_buttons">
        <div id="camera-control-left" class="camera-control">
            <div id="left-top" class="smallBtn"></div>
            <div id="left" class="smallBtn"></div>
            <div id="left-down" class="smallBtn"></div>
        </div>
        <div id="camera-control-center" class="camera-control">
            <div id="up" class="smallBtn"></div>
            <div id="camButton" class="btn">
                <img src="../camera_icon.png" id="cam_img" alt="camera">
            </div>
            <div id="down" class="smallBtn"></div>
        </div>
        <div id="camera-control-right" class="camera-control">
            <div id="right-top" class="smallBtn"></div>
            <div id="right" class="smallBtn"></div>
            <div id="right-down" class="smallBtn"></div>
        </div>
    </div>
    <div id="horizontal-range" class="hud_buttons">
        <label for="rot"></label><input id="rot" type="range" min="0" max="360" value="0" step="0.01">
    </div>
    <div id="vertical-range" class="hud_buttons">
        <label for="height"></label><input id="height" type="range" min="150" max="220" value="180" step="0.01">
    </div>

    <div id="menu_button">☰</div>

    <div id="menu">
        <div id="menu-header">Ekwipunek</div>
        <div id="menu-escape" class="escape">X</div>
        <div id="menu-table">
            <table id="eq_header">
                <tr>
                    <td>Nazwa pola</td>
                    <td>Nieruchomości</td>
                    <td>Odwiedzający płaci</td>
                    <td>Akcja</td>
                </tr>
            </table>
            <div id="eq_content">
                <table id="eq_table"></table>
            </div>
        </div>

    </div>

    <div id="hud" class="hud_buttons">Kredyty: 1000$</div>

    <div id="block_info">
        <div id="block_name">Nazwa</div>
        <div id="block_info_escape" class="escape">X</div>
        <div class="info_block" id="block_owner">Właściciel</div>
        <div class="info_block" id="block_shops">Sklepy:</div>
        <div class="info_block" id="block_action">Odwiedzający płaci $200</div>
    </div>

    <div id="throw" class="hud_buttons">Rzuć kostkami</div>

    <div id="avatar">
        <img id="avatar-image" alt="" src="">
    </div>

    <div id="buymenu">
        <div id="textcontainer">
            <div class="headtext">Czy chcesz kupić</div>
            <div class="headtext" id="buyname">nazwa lokacji</div>
            <div class="headtext" id="buyprice">za 500$</div>
        </div>
        <div id="buttoncontainer">
            <button class="buybutton" id="buy">TAK</button>
            <button class="buybutton" id="dontbuy">NIE</button>
        </div>
    </div>
    <div id="buildmenu">
        <div id="textcontainer">
            <div class="headtext">Czy chcesz rozbudować</div>
            <div class="headtext" id="buildname">nazwa lokacji</div>
            <div class="headtext" id="buildprice">za 500$</div>
        </div>
        <div id="buttoncontainer">
            <button class="buybutton" id="build">TAK</button>
            <button class="buybutton" id="dontbuild">NIE</button>
        </div>
    </div>
    <div id="skiptura" class="hud_buttons">Oddaj kolejkę</div>
    <div id="playersList"></div>
</div>

<script src="../libs/three.js"></script>
<script src="../libs/STLLoader.js"></script>
<script src="../libs/tween.umd.js"></script>

<script src="../Main.js" type="module"></script>