<link rel="stylesheet" href="../style.css">

<div id="root">
    <div id="camera-control" class="hud_buttons">
        <div id="camera-control-left">
            <div id="left-top" class="smallbtn"></div>
            <div id="left" class="smallbtn"></div>
            <div id="left-down" class="smallbtn"></div>
        </div>
        <div id="camera-control-center">
            <div id="up" class="smallbtn"></div>
            <div id="cambutton" class="btn">
                <img src="../camera_icon.png" id="cam_img" alt="camera">
            </div>
            <div id="down" class="smallbtn"></div>
        </div>
        <div id="camera-control-right">
            <div id="right-top" class="smallbtn"></div>
            <div id="right" class="smallbtn"></div>
            <div id="right-down" class="smallbtn"></div>
        </div>
    </div>
    <div id="horizontal-range" class="hud_buttons">
        <input id="rot" type="range" min="0" max="360" value="0" step="0.01">
    </div>
    <div id="vertical-range" class="hud_buttons">
        <input id="height" type="range" min="150" max="220" value="180" step="0.01">
    </div>

    <div id="menu_button">☰</div>

    <div id="menu">
        <div id="menu-header">Ekwipunek</div>
        <div id="menu-escape" class="escape">X</div>
        <div id="menu-table">
            <table id="eq_header">
                <td>Nazwa pola</td>
                <td>Nieruchomości</td>
                <td>Odwiedzający płaci</td>
            </table>
            <div id="eq_content">
                <table id="eq_table"></table>
            </div>

            </table>
        </div>

    </div>

    <div id="hud" class="hud_buttons">
        Kredyty: 1000$
    </div>

    <div id="block_info">
        <div id="block_name">Nazwa</div>
        <div id="block_info_escape" class="escape">X</div>
        <div class="info_block" id="block_owner">Właściciel</div>
        <div class="info_block" id="block_shops">Sklepy:</div>
        <div class="info_block" id="block_action">Odwiedzający płaci $200</div>
    </div>

    <div id="throw" class="hud_buttons">Rzuć kostkami</div>

    <div id="avatar">
        <img id="avatar-image" src="../rj45.png">
    </div>

    <div id="buymenu">
        <div id="textcontainer">
            <div class="headtext">Czy chcesz kupić</div>
            <div class="headtext" id="buyname">nazwa lokacji</div>
            <div class="headtext" id="buyprice">za 500$</div>
        </div>
        <div id="buttoncontainer">
            <button class="buybutton" id="buy">TAK</button>
            <button class="buybutton" id="dontbuy">NIE</button>
        </div>
    </div>
    <div id="avatarlist"></div>
</div>

<script src="../libs/three.js"></script>
<script src="../libs/STLLoader.js"></script>
<script src="../libs/tween.umd.js"></script>

<script src="../Main.js" type="module"></script>