<link rel="stylesheet" href="../resources/styles/welcome-styles.css">
<script src="../resources/script/welcome-script.js"></script>

<div id="layout">
    <img id="logo" src="../resources/common/monopoly_logo.png" alt="logo">
    <div id="login-box">
        <h1 id="login-label">Witaj!</h1>
        <label for="nick"></label><input id="nick" placeholder="Wpisz nick" autocomplete="off">
        <label for="passwd"></label><input id="passwd" placeholder="Wpisz hasło" autocomplete="off" type="password">
        <div id="login-button" class="button">
            <p id="button-text">Graj!</p>
        </div>

        <div id="register-button" class="button">
            <p id="button-text">Zarejstruj!</p>
        </div>
    </div>
</div>
