<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monopoly ZSŁ</title>
    <link rel="stylesheet" href="../../resources/styles/common-styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="../../resources/script/common-script.js"></script>
    <script src="../../resources/script/Net.js"></script>
</head>
<body>
<div id="popup"><p id="popup-text"></p></div>
{{{body}}}
</body>
</html>