<link rel="stylesheet" href="styles/room-styles.css">
<div id="container">
    <div id="settings">
        <p id="name"></p>
        <p id="id"></p>
        <p id="players"></p>
        <p id="leader"></p>
        <button id="start-button">Jestem Gotów!</button>
        <button id="exit-button">X</button>
    </div>
    <div id="users"></div>
</div>

<script src="script/room-script.js"></script>