#user-stats {
    left: unset;
    right: 5%;
}

#welcome-msg {
    text-align: center;
    font-size: 40px;
    margin: 0;
    position: relative;
    top: 20px;
    user-select: none;
}

h2 {
    text-align: center;
    position: relative;
    top: 20px;
    user-select: none;
}

h3 {
    position: relative;
    top: 10px;
    text-align: center;
    user-select: none;
}

.stats-container {
    width: calc(50% - 3px);
    height: 100px;
    display: inline-block;
}

#log-out {
    width: 50%;
    height: 50px;
    position: relative;
    top: 50px;
    left: 25%;
    background-color: red;
    border-radius: 10px;
    font-size: 29px;
    text-align: center;
    color: white;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

#log-out:hover {
    background-color: #a60000;
    transition: all 50ms ease;
}

.avatar {
    width: calc(33% - 11px);
    border-radius: 5px;
    border: 3px solid black;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-filter: brightness(100%);
}

.avatar:hover {
    -webkit-filter: brightness(70%) !important;
    transition: all 100ms ease !important;
}

#avatars {
    width: 60%;
    position: relative;
    top: 20px;
    left: 20%;
}