#user-stats {
    left: unset;
    right: 5%;
}

#welcome-msg {
    text-align: center;
    font-size: 40px;
    margin: 0;
    position: relative;
    top: 20px;
}

h2 {
    text-align: center;
    position: relative;
    top: 20px;
}

.stats-container {
    width: calc(50% - 3px);
    height: 100px;
    display: inline-block;
}

h3 {
    position: relative;
    top: 10px;
    text-align: center;
}

#log-out {
    width: 204px;
    height: 50px;
    position: relative;
    top: 50px;
    left: calc(50% - 102px);
    background-color: red;
    border-radius: 10px;
    font-size: 29px;
    text-align: center;
    color: white;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}