.container {
    width: 42.5%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: white;
    border-radius: 15px;
    border: 3px solid black;
    opacity: 0.8;
}

#user-stats {
    left: unset;
    right: 5%;
}

#add-lobby {
    width: 100%;
    height: 60px;
    border-bottom: 3px solid black;
    overflow-y: hidden;
}

#add-lobby-components {
    width: 816px;
    height: 60px;
    overflow-y: hidden;
}

#add-button {
    width: 108px;
    height: 48px;
    background-color: limegreen;
    position: relative;
    top: 5px;
    left: 25px;
    border-radius: 10px;
    font-size: 26px;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

#add-button:hover {
    background-color: #2cb22c;
    transition: all 50ms ease;
}

input {
    width: 280px;
    height: 44px;
    position: relative;
    top: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
}

#room-name-input {
    left: 10px;
}

#room-password-input {
    left: 15px;
}

select {
    width: 10%;
    height: 50px;
    position: relative;
    top: 5px;
    left: 20px;
    border-radius: 10px;
    border: 2px solid rgb(59, 59, 59);
    text-align: center;
    font-size: 23px;
}

#rooms-list {
    width: 100%;
    height: calc(100% - 63px);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.row {
    height: 60px;
    border-bottom: 3px solid black;
    overflow-y: hidden;
}

.row-p {
    width: max-content;
    font-size: 23px;
    margin: 0;
    position: relative;
    top: 17px;
    left: 10px;
}

.join-button {
    width: 100px;
    height: 40px;
    background-color: limegreen;
    position: relative;
    top: -77px;
    left: 704px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.join-button:hover {
    background-color: #2cb22c;
    transition: all 50ms ease;
}

.join-button-text {
    margin: 0;
    text-align: center;
    position: relative;
    top: 8px;
    font-size: 23px;
    user-select: none;
}

#welcome-msg {
    text-align: center;
    font-size: 40px;
    margin: 0;
    position: relative;
    top: 20px;
}