.container {
    width: 42.5%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: white;
    border-radius: 15px;
    border: 3px solid black;
    opacity: 0.8;
}

#add-lobby {
    width: 100%;
    height: 60px;
    border-bottom: 3px solid black;
    overflow: hidden;
}

#add-button {
    width: calc(20% - 14px);
    height: 48px;
    background-color: limegreen;
    padding: 0;
    margin: 5px 0 0 5px;
    border-radius: 10px;
    font-size: 26px;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

#add-button:hover {
    background-color: #2cb22c;
    transition: all 50ms ease;
}

input {
    width: calc(35% - 14px);
    height: 44px;
    padding: 0;
    margin: 5px 0 0 6px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
}

#room-name-input {
    left: 10px;
}

#room-password-input {
    left: 15px;
}

select {
    width: calc(10% - 14px);
    height: 50px;
    padding: 0;
    margin: 5px 0 0 6px;
    border-radius: 10px;
    border: 2px solid rgb(59, 59, 59);
    text-align: center;
    font-size: 23px;
}

#rooms-list {
    width: 100%;
    height: calc(100% - 63px);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.row {
    height: 60px;
    border-bottom: 3px solid black;
    overflow: hidden;
}

.row-p {
    width: max-content;
    font-size: 23px;
    /*margin: 5px 0 0 0;*/
    display: inline-block;
}

.join-button {
    width: 100px;
    height: 40px;
    background-color: limegreen;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.join-button:hover {
    background-color: #2cb22c;
    transition: all 50ms ease;
}

.join-button-text {
    margin: 0;
    text-align: center;
    position: relative;
    top: 8px;
    font-size: 23px;
    user-select: none;
}