#container {
    width: 75%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 12.5%;
    background-color: white;
    border-radius: 15px;
    border: 3px solid black;
    opacity: 0.8;
}

#settings {
    width: 100%;
    height: 100px;
    border-bottom: black 3px solid;
}

p {
    margin: 0;
    user-select: none;
    position: absolute;
    width: max-content;
    font-size: 17px;
    top: 70px;
    left: 20px;
}

#name {
    font-size: 35px;
    top: 12px;
}

#id {
    user-select: all;
}

#players {
    top: 20px;
    left: 260px;
}

#leader {
    top: 60px;
    left: 260px;
}

#start-button {
    width: 200px;
    height: 60px;
    background-color: limegreen;
    padding: 0;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: absolute;
    right: 100px;
    top: 20px;
}

#start-button:hover {
    background-color: #2cb22c;
    transition: all 50ms ease;
}

#exit-button {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: red;
    border-radius: 10px;
    font-size: 29px;
    text-align: center;
    color: white;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

#exit-button:hover {
    background-color: #a60000;
    transition: all 50ms ease;
}

#users {
    width: 100%;
    height: calc(100% - 100px);
}

.u-row {
    height: 100px;
    position: relative;
    user-select: none;
    margin: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.25);
}

.u-row-img {
    height: 80px;
    border-radius: 10px;
    position: absolute;
    top: 8px;
    left: 10px;
    border: 2px solid rgba(0, 0, 0, 0.9);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-filter: brightness(100%);
}

.u-row-nick {
    font-size: 35px;
    position: absolute;
    top: 31px;
    left: 200px;
}

.u-row-type {
    width: 50px;
    position: absolute;
    top: 25px;
    left: 120px;
}

.u-row-ready {
    font-size: 40px;
    position: absolute;
    top: 21px;
    right: 20px;
}